.zone{
    height: 50vh;
}
.green{background-color: green;}
.blue{background-color: blue;}
.red{ background-color: red;}

.trigger-pin{
    position: absolute;
    top: 0;
    left: 75%;
    width: 10px;
    height: calc(100% - 85vh);
    opacity: 0.5;
    //background-color: grey;
    z-index: 1;
}

.frame{
    //background-color: aquamarine;
    position: relative;
    width: 100vw;  
    margin-top: 50px;
    border: 3px solid pink;
    overflow-y: hidden;
    overflow-x: hidden;

    @media only screen and (min-device-width: 1366px) {
        margin-top: 50px;
    }
}


.frame {
    &__child{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 90%;
        height: 90vh;

        @media only screen and (min-device-width: 1366px) {
            width: 90%;
            height: 90vh;
        }
    }
}

.sections-container{
    height: 100%;
}

.section{
    &__bg-image{
        object-fit: cover;
        width: 100%;
        height: 88vh;
        @media only screen and (min-device-width: 1366px) {
            width: 100%;
            height: 100%;
            margin-top: 0px;
        }
    }
}


.mobile{
    @media only screen and (min-device-width: 1366px) {
        display: none;
    }
}

.desktop{
    display: none;
    @media only screen and (min-device-width: 1366px) {
        display: inherit;
    }
}



.clouds-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 11;

    &__title{
        width: 90%;
        @media only screen and (min-device-width: 1366px){
            width: 50%;
        }
    }

    video{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    &__description-container{
        color: white;
        text-align: center;
        font-size: 16px;
        width: 100%;
    
        @media only screen and (min-device-width: 1366px){            
            width: 60%;
        }
    
    }

    &__cta{
        margin: 20px 0px 20px 0px;
    }

    &__cta-container{

    }

}

.arrow{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 45px;
    z-index: 12;
    width: 100px;
    cursor: pointer;
}

.cta {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    display: inline-block;
    cursor: pointer;
    color: #c9b657;
    font-family: Arial;
    font-size: 16px;
    padding: 10px 26px;
    text-decoration: none;
    font-weight: 800;
    z-index: 15;
}
.cta:hover {
	background-color:#ffffff;
}
.cta:active {
	position:relative;
	top:1px;
}

.cta-watch-film{
    display: flex;
    justify-content: center;
}

.fadeout-trigger{
    //background-color: teal;
    opacity: 0.5;
    position: absolute;
    width: 10px;
    height: 5vh;
    left: 75vw;
}


.cloud-trigger{
    //background-color: blueviolet;
    opacity: 0.5;
    position: absolute;
    width: 10px;
    height: 25vh;
    left: 75vw;
}

.content-trigger{
    // background-color: greenyellow;
    opacity: 0.5;
    position: absolute;
    width: 10px;
    height: 25vh;
    left: 75vw;
}

.trigger{
    // background-color: red;
    opacity: 0.5;
    position: absolute;
    width: 10px;
    height: 20vh;
    left: 75vw;
}

.fadein-trigger{
    // background-color: lightcoral;
    opacity: 0.5;
    position: absolute;
    width: 10px;
    height: 5vh;
    left: 75vw;
}

.fade{
    opacity: 0;
}


.cloud{
    position: fixed;
    height: 200px;
    // transform: perspective(500px) translateZ(50px);
    z-index: 10;
    @media only screen and (min-device-width: 1366px){
      height: 350px;
    }
}

.topLeftCloud{
    top: -91px;
    left: -351px;

    @media only screen and (min-device-width: 1366px){
        top: -65px;
        left: -435px;
    } 
}
  
.bottomLeftCloud{
    left: -467px;
    bottom: -65px;

    @media only screen and (min-device-width: 1366px){
        bottom: -36px;
        left: -415px;
    }
  }
  
.topRightCloud{
    top: -66px;
    right: -470px;
    @media only screen and (min-device-width: 1366px){
        top: -155px;
        right: -367px;
    }
  
  }
  
.middleRightCloud{
    top: -97px;
    right: -371px;
    @media only screen and (min-device-width: 1366px){
        top: -73px;
        right: -560px;
    }

  }
  
.bottomRightCloud{
    bottom: -83px;
    right: -937px;
    @media only screen and (min-device-width: 1366px){
        bottom: -15px;
        right: -1317px;
    }
}

.crane{
    display: none;
    height: 115px;
    position: absolute;
    z-index: 11;

    @media only screen and (min-device-width: 1366px){
        display: unset;
        height: 200px;
    }
}

.craneTopLeft{
    top: -59px;
    left: 8px;

    @media only screen and (min-device-width: 1366px){
        top: -70px;
        left: 212px;
    }
}

.craneBottomLeft{
    top: 663px;
    left: 203px;
}


.indicators-container{
    position: absolute;
    left: 0;
    top: 45vh;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    width: 50px;
    //background-color: white;
    z-index: 4;

    @media only screen and (min-device-width: 1366px) {        
        width: 110px;    
        margin-top: 0px;        
    }

    &__controls{
        //background-color: brown;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //background-color: ;
        border: 2px solid white;
        border-radius: 25px;
        width: 7vw;
        padding-left: 0px;
        list-style-type: none;
        div {
            width: 10px;
            height: 10px;
            border-radius: 20px;
            margin: 15px 0px 15px 0px;
            background-color: white;
            border: 2px solid rgb(139,112,67);
            &:hover{
                background-color: rgb(139,112,67);
            }
        }
    }

    &__labels{
        //background-color: burlywood;
        color: rgb(139,112,67);
        margin-left: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        visibility: hidden;
    }
}


.icons-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    z-index: 4;

    @media only screen and (min-device-width: 1366px) {   
        height: fit-content;
        left: unset;     
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 4vw;
        margin-top: 0px;        
    }
    

    &__controls{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0px;
        list-style-type: none;
        
        @media only screen and (min-device-width: 1366px) {  
            flex-direction: column;      
            justify-content: center;
        }

        a {
            
            button {
                height: 10px;
                border-radius: 30px;
            }
        }
    }
}

