.zone{
    height: 50vh;
}
.green{background-color: green;}
.blue{background-color: blue;}
.red{ background-color: red;}

.trigger-pin{
    position: absolute;
    top: 0;
    width: 200px;
    //height: 300vh;
    opacity: 0.5;
    background-color: grey;
}

.frame{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;  
    height: 100vh;
    //overflow-y: scroll;

    margin-top: 50px;
    border: 3px solid pink;
    

    @media only screen and (min-device-width: 1366px) {
        margin-top: 50px;
    }
}


.frame {
    &__child{
        position: absolute;
        top: 0;
        width: 84%;
        height: 82%;

        @media only screen and (min-device-width: 1366px) {
            width: 90%;
            height: 90vh;
        }
    }
}


.section{
    &__bg-image{
        object-fit: cover;
        width: 100%;
        height: 88vh;
        @media only screen and (min-device-width: 1366px) {
            object-fit: none;
            width: 90%;
            height: 90vh;
        }
    }
}


.mobile{
    @media only screen and (min-device-width: 1366px) {
        display: none;
    }
}

.desktop{
    display: none;
    @media only screen and (min-device-width: 1366px) {
        display: inherit;
    }
}



.clouds-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img{
        width: 95%;
        @media only screen and (min-device-width: 1366px){
            height: auto;
        }
    }

    video{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

    &__description-container{
        color: white;
        text-align: center;
        font-size: 16px;
        width: 90%;
    
        @media only screen and (min-device-width: 1366px){
            
            width: 60%;
        }
    
    }

    &__cta-container{

    }

}

.cta {
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#c9b657;
	font-family:Arial;
	font-size:16px;
	padding:10px 26px;
    text-decoration:none;
    font-weight: 800;
}
.cta:hover {
	background-color:#ffffff;
}
.cta:active {
	position:relative;
	top:1px;
}

.trigger{
    background-color: red;
    opacity: 0.5;
    position: absolute;
    width: 100px;
    height: 20vh;
}


.trigger1-anchor{
    height: 50vh;
    width: 100px;
}

.cloud{
    position: fixed;
    height: 200px;
    transform: perspective(300px) translateZ(0px);
    z-index: 10;
    @media only screen and (min-device-width: 1366px){
      height: 350px;
    }
}

.topLeftCloud{
    top: -91px;
    left: -351px;

    @media only screen and (min-device-width: 1366px){
        top: -170px;
        left: -435px;
    } 
}
  
.bottomLeftCloud{
    left: -467px;
    bottom: -65px;

    @media only screen and (min-device-width: 1366px){
        bottom: -111px;
        left: -520px;
    }
  }
  
.topRightCloud{
    top: -66px;
    right: -470px;
    @media only screen and (min-device-width: 1366px){
        top: -222px;
        right: -367px;
    }
  
  }
  
.middleRightCloud{
    top: -97px;
    right: -371px;
    @media only screen and (min-device-width: 1366px){
        top: -97px;
        right: -603px;
    }

  }
  
.bottomRightCloud{
    bottom: -83px;
    right: -937px;
    @media only screen and (min-device-width: 1366px){
        bottom: -100px;
        right: -1313px;
    }
}

.crane{
    display: none;
    height: 115px;
    position: absolute;
    z-index: 11;

    @media only screen and (min-device-width: 1366px){
        display: unset;
        height: 200px;
    }
}

.craneTopLeft{
    top: -59px;
    left: 8px;

    @media only screen and (min-device-width: 1366px){
        top: -70px;
        left: 212px;
    }
}

.craneBottomLeft{
    top: 663px;
    left: 203px;
}


.indicators-container{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 7vw;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    z-index: 4;

    @media only screen and (min-device-width: 1366px) {        
        width: 4vw;    
        margin-top: 0px;        
    }

    &__controls{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        list-style-type: none;
        div {
            width: 10px;
            height: 10px;
            border-radius: 20px;
            margin: 15px 0px 15px 0px;
            background-color: rgb(139,112,67);
        }
    }
}

.icons-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
    z-index: 4;

    @media only screen and (min-device-width: 1366px) {   
        height: fit-content;
        left: unset;     
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 4vw;
        margin-top: 0px;        
    }
    

    &__controls{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 0px;
        list-style-type: none;
        
        @media only screen and (min-device-width: 1366px) {  
            flex-direction: column;      
            justify-content: center;
        }

        a {
            
            button {
                height: 10px;
                border-radius: 30px;
            }
        }
    }
}

